################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/CoverageHistory
/CoverageReport
/FxCopReport
/MVCApp/.vs
